@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

ul {
  list-style: none;
}

$height: 30px;
$width: 100px;
$min-height: 100px;
$min-width: 200px;
$scroll-width: 6px;

::-webkit-scrollbar {
/*滚动条整体样式*/
  width : $scroll-width;  /*高宽分别对应横竖滚动条的尺寸*/
  height: $scroll-width;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: $scroll-width;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: $scroll-width;
  background   : #ededed;
}

.fixed-col-row {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.fixed-row {
  position: absolute;
  top: 0;
  left: $width;
  overflow: hidden;
  width: $min-width;
  white-space: nowrap;
  font-size: 0;
}

.fixed-col {
  position: absolute;
  top: $height;
  left: 0;
  overflow: hidden;
  width: $width;
  height: $min-height;
}

.t-body {
  position: absolute;
  top: $height;
  left: $width;
  overflow: auto;
  max-height: $min-height;
  max-width: $min-width;
  .t-row {
    white-space: nowrap;
    font-size: 0;
  }
}

.cell,
.head {
  width: $width;
  height: $height;
  line-height: $height;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.head {
  font-weight: bold;
}
